body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.request-template{
  border-style: solid;
  border-width: 1px;
  max-width: 300px;
  display: flex;
  margin: 5px;
}

.request-template .request-type{
  color: #ffa500;
  padding-right: 10px;
  padding-left: 5px;
}

.request-template .request-url{
  text-decoration: underline;
}
